{% extends '::back.html.twig' %}
{% block rightNav %}
    <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
        <ul class="nav nav-sidebar">
            <li><a href="{{ path('back_office_homepage') }}">home admin</a></li>
            <li><a href="{{ path('back_office_biography') }}">Bio</a></li>
            <li><a href="{{ path('back_office_contact') }}">Contact</a></li>
            <li><a href="{{ path('admin_pictures') }}">Photos</a></li>
            <li><a href="{{ path('back_office_videos') }}">Vidéos</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="{{ path('front_end_homepage') }}">home front</a></li>
            <li><a href="{{ path('front_end_biography') }}">home biographie</a></li>
            <li><a href="{{ path('front_end_contact') }}">home contact</a></li>
            <li><a href="{{ path('front_end_pictures') }}">home photos</a></li>
            <li><a href="{{ path('front_end_videos') }}">home video</a></li>
        </ul>
    </div><!--/span-->
{% endblock %}