{% extends "AndreaCatozziBackOfficeBundle::layout.html.twig" %}

{% block title "Andrea Catozzi - Videos" %}

{% block body %}
    <h1>Page de gestion des vidéos :</h1>

    <a href="{{ path('back_office_homepage') }}">créer une nouvelle vidéos.</a>
    <a href="{{ path('back_office_homepage') }}">Voir toute les video.</a>
    <a href="{{ path('back_office_homepage') }}">voir une video.</a>
    <a href="{{ path('back_office_homepage') }}">mettre à jour une video.</a>
    <a href="{{ path('back_office_homepage') }}">supprimer une video.</a>

{% endblock %}